* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.reset-password-page {
  display: flex;
  width: 100%;
  height: 100vh;
}

.form-container {
  flex: 1;
  padding: 60px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-right-radius: 40px 80px;
  border-bottom-right-radius: 40px 80px;
}

.logo {
  margin-bottom: 13%;
}

.logo .logo-text {
  display: flex;
}

.logo img {
  max-width: 80px;
}

.logo .logo-text div {
  padding-left: 5%;
}

.logo h1 {
  font-size: 26px;
  color: #004c00;
  margin-top: 7%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo p {
  font-size: 17px;
  color: #555;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #338019;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="password"]:focus,
input[type="text"]:focus {
  border-color: #006400;
  box-shadow: 0 0 4px rgba(0, 100, 0, 0.5);
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-password img {
  width: 20px; /* Adjust size */
  height: 20px;
}

#password-strength {
  font-size: 12px;
  margin-top: 5px;
}

.button-container {
  text-align: center;
}

.btn-reset {
  background-color: #008000;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 25px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  box-shadow: -3px 5px 5px 2px rgb(215, 215, 215);
}

.btn-reset:hover {
  background-color: #006400;
}

.image-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 15px 20px 3px #00640079;
}
