.category-container h3{
  margin: 0;
}

.category-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.category-item a{
    text-decoration: none;
    color: #333;
    padding: 0;
}

.category-img {
    max-width: 200px;
    height: 200px;
    margin-right: 20px;
    border-top-left-radius: 8px;   /* Apply rounded corners to the image container */
    border-bottom-left-radius: 8px;   /* Apply rounded corners to the image container */
}

.category-content h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}

.category-content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    font-weight: 500;
}
